/* Definicion de la paleta de colores */
:root {
    --primario: #427D9D;
    --primarioOscuro: #164863;
    --primarioOscuroTransparencia: rgba(22, 72, 99, 0.9);
    --secundario: #DDF2FD;
    --secundarioOscuro: #9BBEC8;
    --blanco: #FFF;
    --negro: #000;
    --rojo: #8B0000;
    --fuentePrincipal: 'Rubik', sans-serif;
}

/* Declaracion para todos los archivos */
html {
    box-sizing: border-box;
    font-size: 62.5%/*1 rem = 10 px*/;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Rubik', sans-serif;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

h1 span {
    font-size: 2rem;
}

/* Declaracion de hoja de estilos para el resto del sistema */
.errores {
    color: var(--rojo);
    font-size: large;
    padding: 10px;
}
.informacion {
    color: var(--primarioOscuro);
    font-size: large;
    padding: 10px;
}

/* Forms ocultos */
.contenedor__form__oculto label {
    font-size: large;
    color: var(--secundario);
}

.page-link {
    z-index: 0 !important;
}
.form__oculto {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8) !important;
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.form__oculto:target {
	visibility: visible;
	opacity: 1;
}
.wrapper__form__oculto {
	margin: 20px auto;
	padding: 20px;
	background: var(--secundarioOscuro);
	border-radius: 5px;
	width: 83%;
	position: relative;
	transition: all 0.5s ease-in-out;
}
.wrapper__form__oculto .content {
	max-height: 50%;
	overflow: auto;
}
/*form*/
.contenedor__form__oculto {
	border-radius: 5px;
	background-color: var(--secundarioOscuro);
	padding: 20px 0;
}
.contenedor__form__oculto input,
.contenedor__form__oculto textarea,
.contenedor__form__oculto select {
	margin-top: 20px; margin-bottom: 20px;
    font-size: 1.8rem;;
}
.wrapper__form__oculto button {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    background-color: var(--primario);
}
.header__logo {
    margin: 3rem 0;
    height: 200px;
    width: 200px;
}

/* Footer */
@media (max-width: 1500px) {
    #footer__logo {
        display: none;
    }
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primario);
    padding: 1rem 0;
}
.footer__obj {
    display: inline-block;
    text-align: center;
}
.footer__obj a {
    font-size: 1.8rem;
    margin: 15px 15px 15px 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
.footer__logo {
    height: 100px;
    width: 100px;
}

/* Navegacion */
.navegacion {
    background-color: var(--primario);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-style: solid;
    border-color: var(--primarioOscuro);
    border-width: 10px;
    border-bottom: none;border-left: none;border-right: none;
    /* Separación forma nueva */
}
.navegacion__links {
    font: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 2.5rem;
    font-weight: bold;
}
.navegacion__links:hover,
.navegacion__links--activo {
    color: var(--secundario);
    text-decoration: none;
}

.navegacion ul {
    list-style: none;
    text-decoration: none;
}
.navegacion ul li {
    display: inline-block;
    line-height: 100%;
    margin-left: 20px;margin-right: 20px;
}
.navegacion ul li img {
    display: inline-block;
    line-height: 100%;
    margin: 20px;margin-right: 20px;
}
.menu__btn {
    float: right;
    cursor: pointer;
    list-style-type: none;
    display: none;
}
#check {
    display: none;
}

@media (max-width: 1500px) {
    .menu__btn {
        display: block;
    }
    .navegacion ul {
        position: fixed;
        width: 100%;
        background-color: var(--primarioOscuro);
        top: 345px;
        text-align: center;
        left: -100%;
        transition: all .5s;
        z-index: 1 !important;
    }
    .navegacion ul li {
        display: block;
        margin-top: 25px;
    }
    #check:checked ~ ul {
        left: 0;
    }
    #check:checked ~ body {
        overflow-y: hidden; 
    }
}

/* Contenido index */
html,body {
    min-height: 100%;
}
body {
    background-image: linear-gradient(var(--primarioOscuroTransparencia),var(--primarioOscuroTransparencia)), url(../img/Header.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(800px, 100%), 1fr));
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 3%;

}

.contenido__pendientesCitas,
.contenido__historialCitas,
.contenido__contactos,
.contenido__serviciosemergencia,
.contenido__otrainfo,
.contenido__descripcion,
.contenido__contactosemergencia,
.contenido__feedback,
.contenido__usuarios,
.contenido__examenes,
.contenido__admin {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: var(--secundarioOscuro);
    border-radius: 10px;
}

.contenido__contactos {
    text-align: center;
}

@media (min-width: 1200px){
    .contenido__serviciosemergencia,
    .contenido__bienvenida {
        grid-column: span 2;
    }

    .table-responsive {
        overflow: hidden !important;
    }
}

.titulo__animacion {
    animation: opacityOn 5s linear infinite alternate;
    animation-delay: 2s;
    font-size: 6rem;
}
@keyframes opacityOn {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Contenido Login y registro */
.usuario__data__avatar {
    display: inline-block;
    max-width: 300px;
    position: relative;
}

.usuario__data__avatar input[type="file"] {
    display: none;
}

.usuario__data__avatar label {
    background-color: var(--primario);
    color: var(--blanco);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0;
}

.usuario__data__avatar label:hover {
    background-color: var(--primarioOscuro);
}

@media (max-width: 1500px) {
    .contenedor__pagina{
        width: 100%;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(to left, transparent, var(--secundarioOscuro));
        overflow: hidden;
        color: var(--blanco);
    }
    .contenedor__form {
        background-color: var(--blanco);
        width: 100%;
        min-height: 100vh;
        padding: 10px;
    }
}
@media (min-width: 1500px)  {
    .contenedor__pagina {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(1000px, 100%), 1fr));
        align-items: center;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(to left, transparent, var(--secundarioOscuro));
        height: 100vh;
        overflow: hidden;
        color: var(--blanco);
    }
    .contenedor__form__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        margin: 50px;
    }
    .contenedor__form {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        background-color: var(--blanco);
        border-radius: 10px;
        padding: 10px;
    }
}
.form__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 0 0;
    width: 50%;
    height: 100px; width: 100px;
}
.contenedor__form h2 {
    text-align: center;
    color: var(--primarioOscuro);
    padding: 20px 0 20px 0px;
    border-bottom: 1px solid var(--primarioOscuro);
}
.form__datos {
    padding: 0 40px;
    box-sizing: border-box;
}

.usuario__data {
    position: relative;
    border-bottom: 2px solid var(--primario);
    margin: 30px 0;
}
.usuario__data input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.usuario__data label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: var(--primario);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.usuario__data span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--primarioOscuro);
    transition: .5s;
}

.usuario__data input:focus ~ label,
.usuario__data input:valid ~ label {
    top: -2px;
    color: var(--primarioOscuro);
}
.usuario__data input:focus ~ span::before,
.usuario__data input:valid ~ span::before {
    width: 100%;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid var(--primario);
    background: var(--primario);
    border-radius: 10px;
    font-size: 18px;
    color: var(--blanco);
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    background: var(--primarioOscuro);
    color: var(--blanco);
    transition: .5s;
}

.usuario__links {
    margin: 30px 30px 0px 30px;
    text-align: center;
    font-size: 16px;
    display: block;
}
.usuario__links a {
    text-decoration: none;
    color: var(--primario);
}
.usuario__links a:hover {
    text-decoration: underline;
    color: var(--primarioOscuro);
}

/* Mostrar datos */
/* Citas */
table {
    min-width: 10vh !important;
}

table a {
    color: var(--primario) !important;
}
.contenido__tabla {
    font-size: 1.5rem;
    color: var(--secundario);
}
table tr td, table tr th{
    background-color: var(--secundarioOscuro) !important;
    color: var(--secundario) !important;
}
.contenido__encabezado {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.contenido__encabezado h2 {
    display: inline-block;
    margin-top: 10px;
}
.btn__accion {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 10px;
    background-color: var(--primario);
    color: var(--secundario);
    font-weight: bold;
    margin: 10px 10px 10px 10px;
}
.navegacion__imagenes img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 50%; 
}
.perfil-ul {
    font-size: 18px;
    line-height: 1.6;
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;
}

.perfil-ul li {
    margin-bottom: 10px;
}
.usuario___links {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #3498db; /* Fondo azul */
    color: #ffffff; /* texto__servicios blanco */
    text-decoration: none;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.usuario___links:hover {
    background-color: #2980b9; /* Cambia el color de fondo al pasar el ratón */
}

.typing-area input{
    height: 45px;
    width: calc(100% - 15%);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button{
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.navegacion-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navegacion__links {
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.navegacion__imagenes img {
    width: 50px;
    height: 50px;
}

.col-md-3 {
    height: 150px;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.bg-info {
    background-color: #3498db;
}

.bg-warning {
    background-color: #f1c40f;
}

.i {
    color: white;
    
}

.h5 {
    color: green;
    margin-top: 20px;
    text-align: center;
    font-size: large;
}

.feedback-form {
    width: 50%;
    margin: 0 auto;
    background-color: #9BBEC8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: large;
}

.feedback-form body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

.feedback-form h2 {
    color: #333;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form input[type="password"],
.feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.feedback-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.feedback-form input[type="submit"]:hover {
    background-color: #45a049;
}

/* SERVICIOS CARRUSEL */
#adelante img,
#atras img {
    cursor: pointer;
}
@media (hover:hover)and
(min-width:1500px) {
    .contenido__carrusel {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
    }
    
    .imagenes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }
    
    .img{
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
        height: 576px;
        width: 1134px;
        border-radius: 15px ;
        margin: 5px;
        object-fit: cover;
        filter: saturate(175%);
    }
    
    .texto__servicios{
        overflow: hidden;
        position: absolute;
        flex-direction: column;
        transform: translateY(0px);
        margin-bottom: 9px;
        backdrop-filter: blur(20px);
        background-color: rgba(63, 106, 138, 0.21);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        color: var(--blanco);
    }
    
    .texto__servicios h3{
        text-shadow: 0px 0px 15px var(--negro);
        padding-top: 40px;
        color: var(--blanco);
        font-weight: 300;
        font-size: 27px;
    }
    
    .texto__servicios p,
    .texto__servicios a{
        align-items: center;
        padding: 20px;
        color:var(--blanco);
        font-size: 0px;
        font-weight: 300;
    }
    .texto__servicios a{
        cursor: pointer;
    }
    
    .imagenes .texto__servicios{
        width: 50%;
        height: 100px;
        transition: 1s;
    }
    
    .imagenes:hover .texto__servicios{
        transition: height 1s, transform 1s, background-color 1s;
        transform: translateY(-150px);
        height: 300px;
        background-color: rgba(63, 106, 138, 0.71);
    }
    
    .imagenes:hover .texto__servicios p,
    .imagenes:hover .texto__servicios a{
        transition: font-size 0s .2s linear;
        font-size: 23px;
        font-weight: 300;
    
        text-shadow: 0px 0px 10px var(--negro);
    }
    
    .puntos{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .puntos p{
        font-size: 100px;
        font-weight: 500;
        margin-top: -50px;
        color: var(--negro);
    }
    
    .puntos .bold{
        font-weight: 700;
        margin-left: 10px;
        margin-right: 10px;
        color: var(--primarioOscuro) ;
    }
}

@media (hover:none),
(max-width: 1500px) {
    .contenido__carrusel {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
    }
    
    .imagenes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }
    
    .img{
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
        height: 250px;
        width: 250px;
        border-radius: 15px ;
        margin: 5px;
        object-fit: cover;
        filter: saturate(175%);
    }

    .texto__servicios {
        width: 240px;
        overflow: hidden;
        position: absolute;
        flex-direction: column;
        margin-bottom: 9px;
        backdrop-filter: blur(20px);
        background-color: rgba(63, 105, 138, 0.507);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        color: var(--blanco);
        padding: 10px;
    }
    .texto__servicios a {
        font-size: large;
    }
    
    .puntos{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .puntos p{
        font-size: 100px;
        font-weight: 500;
        margin-top: -50px;
        color: var(--negro);
    }
    
    .puntos .bold{
        font-weight: 700;
        margin-left: 10px;
        margin-right: 10px;
        color: var(--primarioOscuro) ;
    }
}

/* CHAT */
.contenedor__chat {
    margin: 50px;
}

.contenido__chat {
    width: 100%;
    height: 300px;
    max-height: 300px;
    overflow: auto;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

.control__chat {
    background-color: var(--secundario);
    border-radius: 10px;
    padding: 10px;
}
.input__chat {
    background-color: var(--secundario);
    color: var(--primario);
    border-color: var(--negro);
    height: 40px;
    width: 70%;
    font-size: large;
    outline: none;
}
.btn__chat {
    width: 20% !important;
    height: 40px !important;
    margin-left: 9%;
}

/* Contenedor Perfil */
.contenedor__perfil {
    text-align: center;
    color: var(--blanco);
    padding-top: 5%;padding-bottom: 5%;
    background-image: linear-gradient(to left, transparent, var(--secundarioOscuro));
}

/* Dashboard */
.contenedor__dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 10px;
    grid-auto-rows: minmax(300px, auto);
    margin: 3%;
}

@media (min-width: 1500px){
    .contenido__usuarios {
        grid-column: span 5;
    }
}
@media (min-width: 1200px) and (max-width: 1500px){
    .contenido__usuarios {
        grid-column: span 4;
    }
}
@media (min-width: 900px) and (max-width: 1200px){
    .contenido__usuarios {
        grid-column: span 3;
    }
}
@media (min-width: 600px) and (max-width: 900px){
    .contenido__usuarios {
        grid-column: span 2;
    }
}