/* Definicion de la paleta de colores */
:root {
    --primario: #427D9D;
    --primarioOscuro: #164863;
    --primarioOscuroTransparencia: rgba(22, 72, 99, 0.9);
    --secundario: #DDF2FD;
    --secundarioOscuro: #9BBEC8;
    --blanco: #FFF;
    --negro: #000;
    --fuentePrincipal: 'Rubik', sans-serif;
}

/* Declaracion para todos los archivos */
html {
    box-sizing: border-box;
    font-size: 62.5%/*1 rem = 10 px*/;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Rubik', sans-serif;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

h1 span {
    font-size: 2rem;
}

/* Declaracion de hoja de estilos para el resto del sistema */
/* Forms ocultos */
.page-link {
    z-index: 0 !important;
}
.form__oculto {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8) !important;
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.form__oculto:target {
	visibility: visible;
	opacity: 1;
}
.wrapper__form__oculto {
	margin: 70px auto;
	padding: 20px;
	background: var(--secundarioOscuro);
	border-radius: 5px;
	width: 50%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapper__form__oculto .content {
	max-height: 30%;
	overflow: auto;
}
/*form*/
.contenedor__form__oculto {
	border-radius: 5px;
	background-color: var(--secundarioOscuro);
	padding: 20px 0;
}
.contenedor__form__oculto input,
.contenedor__form__oculto textarea,
.contenedor__form__oculto select {
	margin-top: 20px; margin-bottom: 20px;
    font-size: 1.8rem;;
}
.wrapper__form__oculto button {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    background-color: var(--primario);
}
.header__logo {
    margin: 3rem 0;
    height: 200px;
    width: 200px;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primario);
    padding: 1rem 0;
    margin-top: 2rem;
    padding-left: 100px;
    padding-right: 100px;
}
.footer__obj {
    display: inline-block;
    text-align: center;
}
.footer__obj a {
    font-size: 1.8rem;
    margin: 15px 15px 15px 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
.footer__logo {
    margin: 3rem 0;
    height: 100px;
    width: 100px;
}

/* Navegacion */
.navegacion {
    background-color: var(--primario);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-style: solid;
    border-color: var(--primarioOscuro);
    border-width: 10px;
    border-bottom: none;border-left: none;border-right: none;
    /* Separación forma nueva */
}
.navegacion__links {
    font: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 2.5rem;
    font-weight: bold;
}
.navegacion__links:hover,
.navegacion__links--activo {
    color: var(--secundario);
}

/* Contenido index */
body {
    background-image: linear-gradient(var(--primarioOscuroTransparencia),var(--primarioOscuroTransparencia)), url(../img/Header.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 50px;
    overflow: auto;
}

.contenido__pendientesCitas,
.contenido__historialCitas,
.contenido__contactos,
.contenido__serviciosemergencia,
.contenido__otrainfo,
.contenido__descripcion,
.contenido__contactosemergencia,
.contenido__examenes {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: var(--secundarioOscuro);
    border-radius: 10px;
}

.contenido__historialCitas {
    grid-column: 1 / 3;
    min-width: 900px;
    grid-row: 1;
}

.contenido__pendientesCitas {
    grid-column: 3 / 4;
    min-width: 600px;
    grid-row: 1;
}

.contenido__bienvenida {
    grid-column: 1 / 4;
    min-width: 1520px;
    grid-row: 1;
}
.contenido__descripcion {
    grid-column: 1 / 3;
    min-width: 900px;
    grid-row: 2;
}
.contenido__contactos {
    grid-column: 3 / 4;
    min-width: 600px;
    grid-row: 2;
    text-align: center;
}
.contenido__examenes {
    grid-column: 1 / 3;
    grid-row: 1;
}
.contenido__contactosemergencia {
    grid-column: 3 / 4;
    grid-row: 1;
}
.contenido__serviciosemergencia {
    grid-column: 1 / 4;
    grid-row: 2;
}

.titulo__animacion {
    animation: opacityOn 5s linear infinite alternate;
    animation-delay: 2s;
    font-size: 6rem;
}
@keyframes opacityOn {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Contenido Login y registro */
.contenedor__pagina {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to left, transparent, var(--secundarioOscuro));
    height: 100vh;
    overflow: hidden;
}
.contenedor__form__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 50px;
}
.contenedor__form {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: var(--blanco);
    border-radius: 10px;
}
.form__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 0 0;
    width: 50%;
    height: 100px; width: 100px;
}
.contenedor__form h2 {
    text-align: center;
    color: var(--primarioOscuro);
    padding: 20px 0 20px 0px;
    border-bottom: 1px solid var(--primarioOscuro);
}
.form__datos {
    padding: 0 40px;
    box-sizing: border-box;
}

.usuario__data {
    position: relative;
    border-bottom: 2px solid var(--primario);
    margin: 30px 0;
}
.usuario__data input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.usuario__data label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: var(--primario);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.usuario__data span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--primarioOscuro);
    transition: .5s;
}

.usuario__data input:focus ~ label,
.usuario__data input:valid ~ label {
    top: -2px;
    color: var(--primarioOscuro);
}
.usuario__data input:focus ~ span::before,
.usuario__data input:valid ~ span::before {
    width: 100%;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid var(--primario);
    background: var(--primario);
    border-radius: 10px;
    font-size: 18px;
    color: var(--blanco);
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    background: var(--primarioOscuro);
    color: var(--blanco);
    transition: .5s;
}

.usuario__links {
    margin: 30px 30px 30px 30px;
    text-align: center;
    font-size: 16px;
    display: block;
}
.usuario__links a {
    text-decoration: none;
    color: var(--primario);
}
.usuario__links a:hover {
    text-decoration: underline;
    color: var(--primarioOscuro);
}

/* Mostrar datos */
/* Citas */
table a {
    color: var(--primario) !important;
}
.contenido__tabla {
    font-size: 1.5rem;
    color: var(--secundario);
}
table tr td, table tr th{
    background-color: var(--secundarioOscuro) !important;
    color: var(--secundario) !important;
}
.contenido__encabezado {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.contenido__encabezado h2 {
    display: inline-block;
    margin-top: 10px;
}
.btn__accion {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 10px;
    background-color: var(--primario);
    color: var(--secundario);
    font-weight: bold;
    margin: 10px 10px 10px 10px;
}
.navegacion__imagenes img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 50%; 
}
.perfil-ul {
    font-size: 18px;
    line-height: 1.6;
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;
}

.perfil-ul li {
    margin-bottom: 10px;
}
.usuario___links {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #3498db; /* Fondo azul */
    color: #ffffff; /* Texto blanco */
    text-decoration: none;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.usuario___links:hover {
    background-color: #2980b9; /* Cambia el color de fondo al pasar el ratón */
}

/*Chat en linea*/
.wrapper{
    margin: auto;
    background:  #9BBEC8;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}

.users{
    padding: 25px 30px;
}
:is(.users, .users-list) .content{
    display: flex;
    align-items: center;
}

.users header,
.users-list a{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-radius: 1px solid #e6e6e6;
}

.users header .content img{
    height: 50px;
    width: 50px;
}
:is(.users, .users-list) .details{
    color: #000;
    margin-left: 15px;
}

:is(.users, .users-list) .details span{
    font-size: 18px;
    font-weight: 500;
}

.users header .logout{
    color: #fff;
    font-size: 17px;
    padding: 7px 15px;
    background: #333;
    border-radius: 5px;
}

.users .search{
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.users .search .text{
    font-size: 18px;
}

.users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.users .search input.active{
    opacity: 1;
    pointer-events: auto;   
}

.users .search button{
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #333;
    background: #fff;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
    transition: all 0.2s ease;
}

.users .search button.active{
    color: #fff;
    background: #333;
}

.users .search button.active i::before{
    content: "\f00d";
}

.users-list{
    max-height: 350px;
    overflow-y: auto;
}

:is(.users-list, .chat-box)::-webkit-scrollbar{
    width: 0px ;
}

.users-list a{
    padding-right: 15px;
    margin-bottom: 15px;
    page-break-after: 10px;
    border-bottom-color: #f1f1f1;
}

.users-list a:last-child{
    border: none;
    margin-bottom: 0px;
}

.users-list a .content img{
    height: 40px;
    width: 40px;
}

.users-list a .content p{
    color: #67676a;
}

.users-list a .status-dot{
    font-size: 12px;
    color: #468669;
}

.users-list a .status-dot.offline{
    color: #ccc;
}

/*Chat Area*/
.chat-area header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}
.chat-area header .back-icon{
    font-size: 18px;
    color: #333;
}

.chat-area header img{
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chat-area header span{
    font-size: 17px;
    font-weight: 500;
}

.chat-box{
    height: 500px;
    overflow: auto;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0, 0, 0 / 5%);
                inset: 0 -32px 32px -32px rgb(0, 0, 0 / 5%);
}
.chat-box .chat{
    margin: 15px 0;
}

.chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 , 0, 0 / 8%),
                0 16px 16px -16px rgb(0, 0, 0 / 10%);
}

.chat-box .outgoing{
    display: flex;
}
.outgoing .details{
    margin-left: auto;
    max-width: calc(100% - 130px);
}
.outgoing .details p{
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}
.chat-box .incoming{
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming img{
    height: 35px;
    width: 35px;
}
.incoming .details{
    margin-left: 10px;
}

.incoming .details p{
    color: #333;
    background: #fff;
    border-radius: 18px 18px 18px 0;
}

.chat-area .typing-area{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input{
    height: 45px;
    width: calc(100% - 15%);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button{
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.navegacion-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navegacion__links {
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.navegacion__imagenes img {
    width: 50px;
    height: 50px;
}

.col-md-3 {
    height: 150px;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.bg-info {
    background-color: #3498db;
}

.bg-warning {
    background-color: #f1c40f;
}

.i {
    color: white;
    
}

.h5 {
    color: green;
    margin-top: 20px;
    text-align: center;
    font-size: large;
}

.feedback-form {
    width: 50%;
    margin: 0 auto;
    background-color: #9BBEC8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: large;
}

.feedback-form body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

.feedback-form h2 {
    color: #333;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form input[type="password"],
.feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.feedback-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.feedback-form input[type="submit"]:hover {
    background-color: #45a049;
}

.success-message {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    padding: 15px;
    margin-top: 20px;
}

.no-citas {
    text-align: center;
    font-size: 24px;
}

/* CHAT MODIFICAR */
